orange = #F5A623
red = #d12028
green = #2DC22D
lightgreen = #66FF00
eucalpytus = #44D7A8
olivegreen = #A1B56C
orangish = #facb74
pink = #F8A180
babyblue = #92C8D6
bluegrass =  #145E79
seagreen  = #008593