@import url("https://fonts.googleapis.com/css?family=Playfair+Display|Black+Ops+One|Josefin+Sans|Josefin+Slab")

@font-face
  font-family: Open Sans;
  font-weight: 300;
  font-style: normal;
  
@font-face
  font-family: Black Ops One;
  font-weight: normal;
  font-style: normal;

@font-face
  font-family: Playfair Display;
  font-weight: normal;
  font-style: normal;
  
@font-face
  font-family: Josefin Sans;
  font-weight: normal;
  font-style: normal;

@font-face
  font-family: Josefin Slab;
  font-weight: normal;
  font-style: normal;