html, body, #root, .app
	font-size 100%
	font-family 'Capriola'
	color white

//Landing Div
.landing-div
	position relative
	font-family 'Bubblegum Sans'
	text-align center
	color white

.one-liner
	font-size 3em
	
.header-date
	font-size 225%

.limited-seats
	font-size 200%
	
.header-registration-dollar
	font-size 400%
	color #facb74

.apply-button
	font-family 'Bubblegum Sans'
	text-align center
	font-size 2em !important

.description-header, .about-div-header, .contact-header, .challenge-header, .schedule-header
	text-align center
	font-size 350%

//Description Div
.description-paragraph
	font-size 120%

//Center, 
.contact-div, .challenge-div, .description-paragraph, .footer-div
	text-align center

.challenge-div, .schedule-div
	color black