html
	font-size 100%

.apply-button
	text-align center
	
//Landing Div
.landing-div
	position relative
	color white
	// font-family 'Josefin Slab'
	
.one-liner
	text-align center
	font-size 2em
	
.header-date
	text-align center
.header-registration
	text-align center

.header-date
	font-size 225%
.header-registration-dollar
	font-size 400%

//About Div
.about-div-header
	font-size 350%
	text-align center
.about-div-list
	font-size 130%
	// text-align center
	width 80%
	color white
	
//Description Div
.description-header
	text-align center
	font-size 350%

.description-paragraph
	text-align center
	font-size 120%
	
//Contact Div
.contact-div
	text-align center