html, body, #root, .app
	font-size 100%
	font-family 'Capriola'
	color white

//Landing Div
.landing-div
	position relative
	font-family 'Bubblegum Sans'
	text-align center
	color white

.one-liner
	font-size 3em
	
.header-date
	font-size 225%

.limited-seats
	font-size 200%
	
.header-registration-dollar
	font-size 400%
	color #facb74

.apply-button
	font-family 'Bubblegum Sans'
	text-align center
	font-size 2em !important


//Description Div
.description-header, .about-div-header, .contact-header
	text-align center
	font-size 350%

.description-paragraph
	text-align center
	font-size 120%


//Contact Div
.contact-div
	text-align center
	

//About Div
// font-family 'Capriola'
// // .about-div-header
// // 	font-size 350%
// // 	text-align center
// // .about-div-list
// // 	font-size 130%
// // 	// text-align center
// // 	width 80%
// // 	color white
	

	
