// Import all partials
@require './_*.styl'

//Landing Div
.landing-div
	background-image url('images/img_4.jpg')
	background-size 100% auto
	background-repeat no-repeat
	height 90vh

.navbar-custom 
	background-color none
	border-color none
	background-image none
	background-repeat no-repeat
    
.femhack-header-img
	display block
	margin 0 auto
	height 40%

.header-registration
	position  absolute;
	width 15%
	bottom  20px
	right  0px
.description-div
	height 50vh
	background-color #41313
	
//About Div
.about-div
	height 80vh
	background-color #685353
	padding-top 5%
.about-div-header
	padding-bottom 3%
	
//Contact Div
.contact-div
	height 30vh
	// background-color #41313
	background-color black

//Description Div
.description-div
	padding-top 4%
.description-header
	padding-bottom 4%
.description-paragraph
	width 60%
	
//Image Div
.image-div
	background-image url('images/img_2.jpg')
	background-size 100% 100%
	background-repeat no-repeat
	height 85vh