// Import all partials
@require './_*.styl'

//Navbar Div
.navbar
	margin-bottom 0px !important
.brand-logo
	max-width 12vh !important
	padding 15px 15px
	float left
	
//Landing Div
.landing-div
	background-image url('images/img_4_adj.jpg')
	background-size 100% auto
	background-repeat no-repeat
	height 100vh

.navbar-custom 
	background-color none
	border-color none
	background-image none
	background-repeat no-repeat
    
.femhack-header-img
	display block
	margin 0 auto
	height 40%

.header-registration
	text-align:center
		
.description-div
	height 50vh
	background-color #41313

//Description Div
.description-div
	padding-top 4%
	height 55vh
.description-header
	padding-bottom 2.5%
.description-paragraph
	width 60%
		
//About Div
.about-div
	height 80vh
	background-color #685353
	padding-top 5%
	paddding-bottom 5%
.about-div-header
	padding-bottom 3%
	
//Contact Div
.contact-div
	height 30vh
	
//Image Div
.image-div
	background-image url('images/img_2.jpg')
	background-size 100% 100%
	background-repeat no-repeat
	height 90vh

//Contact Div
.contact-div
	// background-color #685353

.contact-details-left
	width 30%
	display inline-block
	// padding-top 1%
.contact-details-right
	width 30%
	display inline-block
	

.footer-div
	width 100%
	height 8vh
	background-color #f5f5f5
	
.text-muted
	padding-top 5px
	text-align center