// html 
// 	background-color:blue
	
// .landing_div
// 	min-height:20em
// 	height:20em
// 	width:100%
	
// .main_div
// 	height:100px
// 	min-height:100px

.background-one
	background-image: url('./images/gundam.jpg')
	